html, body {
	height: 100%;
	margin: 0;
	overflow-y: hidden;
	display: flex;
	flex: 1;
	font-family: sans-serif;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

h1 {
	margin-top: 4rem;
	font-weight: 200;
	font-size: 3rem;
}

p {
	margin: 0;
}

input {
	outline: none;
	width: 50%;
	height: 50%;
	padding: 0.5rem 0.3rem;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	border-width: thin;
	border: solid 1px lightgray;
}

#root {
	display: flex;
	flex: 1;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.book-list {
	padding: 0.2rem;
	width: 80%;
	display: flex;
	height: 75%;
}

.book-input {
	width: 88%;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.book-item {
	border-bottom: solid lightgray 0.1rem;
	border-width: thin;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.book-title {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0.5rem;
}

.book-info {
	font-size: 0.9rem;
}

.other-display {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.other-display > p {
	font-size: 1.5rem;
	font-style: italic;
}
